<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To do list</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div class="box">
        <h1>ToDo list</h1>
    </div>
    <div class="box">
        <% for(var i=0 ; i< ejes.length ; i++){%>
            <div class="item">
                <input type="checkbox">
                <p>
                    <%= ejes[i] %>
                </p>

            </div>
            <% }%>

                <form action="/" method="post">
                    <input type="text" name="baka" placeholder="Enter the task">
                    <button type="submit">+</button>
                </form>
    </div>
</body>

</html>